In [1]:
import sqlite3

# conectando...
conn = sqlite3.connect('clientes.db')
# definindo um cursor
cursor = conn.cursor()

# criando a tabela (PESSOA)
cursor.execute("""
CREATE TABLE PESSOA (
    id_pessoa   INTEGER PRIMARY KEY AUTOINCREMENT,
    nome        TEXT,
    telefone1   TEXT,
    telefone2   TEXT,
    datacad     TEXT,
    id_endereco INTEGER,
    FOREIGN KEY ( id_endereco   )  REFERENCES ENDERECO (id_endereco) 
);

""")

print('Tabela PESSOA criada com sucesso.')

Tabela PESSOA criada com sucesso.

In [2]:
#criando a tabela CLIENTE
# conectando...
#conn = sqlite3.connect('clientes.db')
# definindo um cursor
#cursor = conn.cursor()
cursor.execute("""
CREATE TABLE CLIENTE (
    id_cliente         INTEGER PRIMARY KEY AUTOINCREMENT,
    id_pessoa          INTEGER,
    vendedor_principal INTEGER,
    FOREIGN KEY (
        id_pessoa
    )
    REFERENCES PESSOA (id_pessoa),
    FOREIGN KEY (
        vendedor_principal
    )
    REFERENCES VENDEDOR (id_vendedor) 
);

""")
print('Tabela CLIENTE criada com sucesso.')

Tabela CLIENTE criada com sucesso.

In [4]:
cursor.execute("""
CREATE TABLE VENDEDOR (
    id_vendedor INTEGER PRIMARY KEY AUTOINCREMENT,
    id_pessoa   INTEGER,
    FOREIGN KEY (
        id_pessoa
    )
    REFERENCES PESSOA (id_pessoa) 
);
""")

print('Tabela VENDEDOR criada com sucesso.')
#CRIANDO A TABELA PIZZA
cursor.execute("""
CREATE TABLE PIZZA (
    id_pizza INT (2)   NOT NULL,
    preco    FLOAT (2) NOT NULL,
    sabor    TXT,
    PRIMARY KEY (
        id_pizza
    )
);

""")
print('Tabela PIZZA criada com sucesso.')

Tabela VENDEDOR criada com sucesso.
Tabela PIZZA criada com sucesso.

In [5]:
#CRIANDO A TABELA ENDERECO
cursor.execute("""
CREATE TABLE ENDERECO (
    id_endereco INTEGER PRIMARY KEY AUTOINCREMENT,
    cep         TEXT    NOT NULL,
    logradouro  TEXT,
    numero      TEXT,
    complemento TEXT,
    referencia  TEXT,
    bairro      TEXT
);

""")
print('Tabela ENDERECO criada com sucesso.')

Tabela ENDERECO criada com sucesso.

In [6]:
#CRIANDO A TABELA PEDIDO
cursor.execute("""
CREATE TABLE PEDIDO (
    id_item          INTEGER PRIMARY KEY AUTOINCREMENT,
    nro_pedido       INT,
    data             TEXT,
    id_cliente       INT,
    id_vendedor      INT,
    id_entregador    INT,
    id_pizza         INT (2),
    qtde             INT (3),
    obs              TEXT,
    endereco_entrega INT,
    FOREIGN KEY (
        id_cliente
    )
    REFERENCES CLIENTE (id_cliente),
    FOREIGN KEY (
        id_vendedor
    )
    REFERENCES VENDEDOR (id_vendedor),
    FOREIGN KEY (
        id_entregador
    )
    REFERENCES ENTREGADOR (id_entregador),
    FOREIGN KEY (
        id_pizza
    )
    REFERENCES PIZZA (id_pizza),
    FOREIGN KEY (
        endereco_entrega
    )
    REFERENCES ENDERECO (id_endereco) 
);
""")

print('Tabela PEDIDO criada com sucesso.')

Tabela PEDIDO criada com sucesso.

Povoando a tabela com exemplos interessantes
Create - Inserindo um registro com comando SQL
A única novidade aqui é o método commit(). É ele que grava de fato as alterações na tabela. Lembrando que uma tabela é alterada com as instruções SQL ``INSERT, UPDATE`` e ``DELETE``.

In [ ]:
 #inserindo dados na tabela
cursor.execute("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES ('Regis', 35, '00000000000', 'regis@email.com', '11-98765-4321', 'Sao Paulo', 'SP', '2014-06-08')
""")

cursor.execute("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES ('Aloisio', 87, '11111111111', 'aloisio@email.com', '98765-4322', 'Porto Alegre', 'RS', '2014-06-09')
""")

cursor.execute("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES ('Bruna', 21, '22222222222', 'bruna@email.com', '21-98765-4323', 'Rio de Janeiro', 'RJ', '2014-06-09')
""")

cursor.execute("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES ('Matheus', 19, '33333333333', 'matheus@email.com', '11-98765-4324', 'Campinas', 'SP', '2014-06-08')
""")

# gravando no bd
conn.commit()

print('Dados inseridos com sucesso.')

conn.close()

In [ ]:
#Consultando a tabela
conn = sqlite3.connect('clientes.db')
cursor = conn.cursor()

# lendo os dados
cursor.execute("""
SELECT * FROM clientes;
""")

for linha in cursor.fetchall():
    print(linha)

conn.close()